In [197]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [198]:
df = pd.read_csv('Ahmedabad_final.csv', index_col=False)

In [199]:
df = df.drop(columns=['Unnamed: 0'])

In [200]:
df.reset_index(drop=True, inplace=True)

In [201]:
df.head()

      T    TM    Tm   H   PP   VV    V    VM   PM2.5
0  19.2  29.4  11.0  47  0.0  4.3  5.9  13.0   94.52
1  23.8  32.0  14.0  41  0.0  4.3  4.4  11.1  135.99
2  22.1  31.0  14.0  57  0.0  3.9  3.3  14.8  178.33
3  22.2  30.0  15.0  57  0.0  4.0  5.6  13.0  139.70
4  22.4  32.0  15.0  44  0.0  4.3  4.3  11.1   88.70

In [202]:
df = df.apply(pd.to_numeric,errors='coerce')

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T       725 non-null    float64
 1   TM      725 non-null    float64
 2   Tm      725 non-null    float64
 3   H       725 non-null    int64
 4   PP      725 non-null    float64
 5   VV      725 non-null    float64
 6   V       725 non-null    float64
 7   VM      725 non-null    float64
 8   PM2.5   725 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 51.1 KB

In [204]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [205]:
from sklearn.linear_model import LinearRegression

In [206]:
linear_reg = LinearRegression()
linear_reg.fit(x, y.values)

LinearRegression()

In [207]:
y_pred = linear_reg.predict(x)

In [208]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [209]:
error = np.sqrt(mean_squared_error(y,y_pred))

In [210]:
error

30.746473603080155

In [211]:
from sklearn.tree import DecisionTreeRegressor

In [212]:
dec_tree_reg = DecisionTreeRegressor(random_state=0)
dec_tree_reg.fit(x,y.values)
dec_tree_reg.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 0,
 'splitter': 'best'}

In [213]:
y_pred = dec_tree_reg.predict(x)

In [214]:
error = np.sqrt(mean_squared_error(y,y_pred))

In [215]:
error

6.978797939856464

In [122]:
dec_tree_reg

DecisionTreeRegressor(random_state=0)

In [216]:
data = {"model":dec_tree_reg, "T":df['T'], 'TM':df['TM'], 'Tm':df["Tm"], 'H':df["H"], 'PP':df["PP"], 'VV':df["VV"], 'V':df["V"], 'VM':df["VM"]}
with open ('ahmedabad.pkl', 'wb') as file:
    pickle.dump(data, file)

In [217]:
with open('ahmedabad.pkl', 'rb') as file:
    data = pickle.load(file)

In [218]:
regressor_loaded = data['model']

In [219]:
regressor_loaded.predict(x)

array([ 94.52     , 135.99     , 178.33     , 139.7      ,  88.7      ,
        74.28     , 113.93     , 103.36     , 177.33     , 113.25     ,
       107.99     , 140.29     , 239.96     ,  52.99     ,  61.12     ,
        60.78     ,  91.83     , 105.45     ,  71.56     , 119.8      ,
        97.34     ,  83.92     ,  49.51     , 105.06     ,  94.1      ,
       111.89     , 165.07     , 166.85     , 147.38     , 133.3      ,
        96.04     ,  77.69     ,  53.07     , 138.63     , 144.36     ,
        85.03     , 111.86     ,  58.37     ,  95.37     ,  77.1653125,
        77.1653125,  77.1653125,  77.1653125,  77.1653125,  80.9      ,
       103.29     , 107.5      ,  77.1653125,  96.65     , 126.77     ,
       106.15     ,  51.03     ,  38.73     ,  61.12     , 100.92     ,
        97.48     , 129.27     ,  53.24     ,  42.       ,  50.1      ,
        70.96     ,  53.66     ,  45.49     ,  57.59     ,  77.22     ,
        45.29     , 103.78     ,  80.69     ,  44.75     ,  38.11     ,
        45.49     ,  38.06     ,  45.41     ,  32.56     ,  29.28     ,
        20.46     ,  57.75     ,  66.39     ,  62.61     ,   4.66     ,
        48.72     ,  49.7      ,  42.68     ,  38.45     ,  46.69     ,
       111.77     , 151.4      ,  51.35     ,  33.56     ,  31.3      ,
        48.12     ,  29.79     ,  59.95     ,  19.2      ,  40.95     ,
        40.29     ,  41.16     ,  36.12     ,  48.12     ,  37.09     ,
        33.4      ,  44.56     ,  65.68     ,  33.34     ,  38.35     ,
        38.5      ,  39.61     ,  36.9      ,  36.36     ,  32.64     ,
        43.2      ,  63.2      ,  64.73     ,  65.28     ,  29.52     ,
        15.53     ,  57.51     ,  43.01     ,  42.06     ,  44.94     ,
        24.46     ,  27.08     ,  43.88     ,  28.35     ,   3.59     ,
        76.41     , 102.49     , 127.94     ,  92.12     ,  94.02     ,
       150.27     , 137.87     ,  90.71     , 108.68     , 170.52     ,
       203.4      ,  92.71     , 147.35     , 206.89     , 114.84     ,
        46.5      , 122.54     , 147.18     , 192.35     , 127.64     ,
        33.02     ,  29.42     ,  20.87     ,  35.08     ,  35.87     ,
        46.3      ,  39.15     ,  34.89     ,  38.13     ,  36.47     ,
        41.39     ,  31.71     ,  33.48     ,  43.71     ,  46.52     ,
        36.54     ,  40.18     ,  33.5      ,  29.36     ,  44.59     ,
        43.9      ,  93.34     ,  38.06     ,  60.18     ,  85.1      ,
        55.55     ,  32.78     ,  53.5      ,  48.24     ,  33.76     ,
        35.95     ,  58.07     ,  44.59     ,  30.81     ,  47.67     ,
        35.69     ,  52.15     ,  35.99     ,  37.93     ,  36.51     ,
        55.71     ,  57.01     ,  42.22     ,  34.16     ,  30.07     ,
        25.54     ,  27.22     ,  41.81     ,  75.03     ,  85.36     ,
       124.97     ,  86.63     ,  48.23     , 138.94     , 155.68     ,
        83.57     ,  75.41     , 106.86     ,  72.52     , 109.22     ,
       122.63     , 271.85     , 230.76     , 203.3      , 152.03     ,
       109.16     , 126.57     ,  79.49     , 112.25     , 133.07     ,
        77.12     ,  96.65     ,  72.67     ,  94.32     ,  89.       ,
       119.17     , 207.19     , 148.83     ,  99.77     , 119.99     ,
       111.92     , 102.26     , 108.19     ,  93.87     ,  85.51     ,
        80.89     ,  58.62     ,  74.08     ,  62.76     ,  86.09     ,
        67.51     ,  70.08     ,  86.9      ,  62.24     ,  62.07     ,
        72.04     ,  75.14     ,  69.27     ,  71.54     ,  77.1653125,
        84.46     ,  76.51     ,  63.88     ,  77.87     ,  77.72     ,
        66.89     ,  82.53     , 108.01     ,  92.94     ,  91.13     ,
        88.69     , 108.92     , 128.56     , 103.63     , 102.16     ,
       115.79     , 189.12     ,  88.37     ,  96.64     , 109.34     ,
        70.25     , 103.17     ,  64.61     ,  65.35     ,  52.18     ,
       242.66     , 114.78     ,  92.92     ,  38.82     ,  49.18     ,
        56.42     ,  54.45     ,  53.5      ,  41.64     ,  56.51     ,
        88.85     , 111.68     ,  98.53     ,  84.16     ,  71.82     ,
        98.49     , 160.68     , 102.05     , 109.8      , 124.44     ,
       180.27     , 121.       ,  80.56     , 103.75     ,  75.68     ,
        90.13     , 160.43     ,  94.55     , 104.21     ,  77.1653125,
        84.47     ,  73.54     ,  77.1653125,  77.1653125,  78.18     ,
        56.35     ,  59.66     ,  77.1653125,  77.1653125,  77.1653125,
        77.1653125,  63.06     ,  46.17     ,  61.24     ,  41.04     ,
        49.71     ,  44.75     ,  50.16     ,  49.07     ,  46.06     ,
        71.01     ,  59.98     ,  50.7      ,  43.37     ,  60.05     ,
        56.93     ,  16.63     ,  78.16     ,  83.27     ,  63.79     ,
        53.59     ,  55.77     ,  63.58     ,  69.99     ,  78.7      ,
        59.96     ,  40.89     ,  41.59     ,  39.02     ,  51.63     ,
        38.12     ,  27.79     ,  48.12     ,  36.8      ,  41.37     ,
        71.94     ,  47.95     ,  55.91     ,  36.42     ,  40.97     ,
        33.38     ,  44.87     ,  33.16     ,  45.25     ,  51.7      ,
        43.18     ,  35.8      ,  51.78     ,  63.4      ,  58.21     ,
        47.83     ,  41.21     ,  37.33     ,  28.74     ,  32.05     ,
        44.02     ,  48.73     ,  33.95     ,  33.7      ,  48.21     ,
        33.2      ,  34.52     ,  44.57     ,  38.22     ,  34.44     ,
        28.8      ,  19.66     ,  22.3      ,  22.33     ,  21.06     ,
        20.82     ,  18.18     ,  23.65     ,  25.32     ,  25.87     ,
        18.87     ,  22.11     ,  24.07     ,  33.95     ,  31.13     ,
        58.28     ,  78.64     , 122.92     , 160.05     ,  96.65     ,
       110.05     , 109.84     , 105.87     , 101.86     ,  96.15     ,
       121.11     ,  82.49     ,  72.93     ,  82.52     ,  72.11     ,
        78.48     , 103.22     , 162.18     , 205.21     , 165.37     ,
       133.13     , 143.52     ,  83.28     ,  77.1653125,  77.1653125,
        77.1653125,  77.1653125,  77.1653125,  86.43     ,  70.51     ,
        78.48     ,  92.74     ,  96.58     ,  91.37     ,  88.02     ,
        94.95     ,  75.42     ,  73.07     ,  70.04     ,  56.71     ,
        59.4      , 125.16     , 106.45     ,  92.45     ,  79.15     ,
        94.8      ,  80.14     ,  80.54     , 110.71     , 147.57     ,
       131.5      ,  74.62     ,  89.72     ,  84.03     , 116.42     ,
        75.49     ,  66.97     ,  73.58     ,  86.32     , 149.26     ,
        52.92     ,  47.26     ,  52.79     ,  83.1      ,  76.87     ,
        47.01     ,  54.77     ,  94.1      , 105.03     ,  46.5      ,
        82.79     ,  62.6      ,  72.53     ,  46.48     ,  62.32     ,
        37.26     ,  50.97     ,  64.44     ,  51.5      ,  42.11     ,
        46.35     ,  61.32     ,  55.7      ,  54.11     ,  52.68     ,
        84.14     ,  52.24     ,  62.44     ,  88.33     ,  78.11     ,
        62.04     ,  64.71     ,  67.44     ,  69.51     ,  74.35     ,
        96.96     , 122.78     , 109.21     ,  77.1653125,  78.55     ,
        73.58     ,  64.02     ,  77.1653125,  77.1653125, 182.46     ,
        95.69     ,  93.12     ,  92.59     ,  84.47     ,  76.98     ,
        77.1653125,  77.1653125,  77.1653125, 113.47     , 101.68     ,
        86.07     ,  58.71     ,  72.51     ,  43.83     ,  46.04     ,
        37.55     ,  77.1653125,  77.1653125,  77.1653125,  27.93     ,
        41.39     ,  46.79     ,  50.27     ,  42.02     ,  48.74     ,
        48.1      ,  41.38     ,  46.46     ,  30.07     ,  48.74     ,
        35.3      ,  25.56     ,  26.75     ,  32.71     ,  69.38     ,
        42.08     ,  35.67     ,  49.23     ,  70.03     ,  60.03     ,
        43.22     ,  44.75     ,  44.27     ,  34.72     ,  37.99     ,
        41.69     ,  38.49     ,  41.7      ,  42.43     ,  44.65     ,
        51.63     ,  48.67     ,  48.26     ,  46.8      ,  39.43     ,
        28.8      ,  47.31     ,  56.72     ,  45.43     ,  60.09     ,
        57.61     ,  44.1      ,  41.77     ,  47.52     ,  50.55     ,
        39.88     ,  46.58     ,  36.44     ,  30.82     ,  45.77     ,
        58.51     ,  37.05     ,  31.28     ,  25.64     ,  40.18     ,
        35.05     ,  33.15     ,  38.7      ,  64.45     ,  59.96     ,
        66.21     ,  73.61     ,  27.17     ,  39.27     ,  61.46     ,
        39.34     ,  28.2      ,  33.66     ,  51.11     ,  57.08     ,
        99.81     ,  73.52     , 108.07     , 194.36     ,  98.5      ,
        96.74     ,  87.87     ,  89.05     ,  81.62     ,  82.74     ,
        62.7      ,  57.54     ,  54.57     ,  63.17     ,  42.27     ,
        33.68     ,  56.86     ,  64.96     ,  48.99     ,  88.       ,
        49.19     ,  43.56     ,  52.04     ,  46.54     ,  55.43     ,
        73.87     ,  64.06     ,  53.91     ,  43.06     ,  46.74     ,
        41.61     ,  93.24     ,  92.26     ,  78.95     ,  52.59     ,
        63.33     ,  48.58     ,  89.97     , 104.25     ,  64.25     ,
        53.       ,  52.77     ,  39.89     ,  74.18     ,  79.57     ,
        72.59     ,  69.54     ,  70.06     ,  61.4      ,  38.89     ,
        89.34     ,  39.83     ,  53.27     ,  36.05     ,  36.21     ,
        51.15     ,  61.05     ,  62.03     ,  33.93     ,  57.28     ,
        88.79     ,  52.31     ,  68.19     ,  66.87     ,  95.25     ,
        69.85     ,  88.83     ,  50.55     ,  73.04     , 114.79     ,
        65.74     ,  60.61     ,  73.18     , 137.81     ,  94.27     ,
        53.06     ,  56.2      ,  77.58     ,  51.32     ,  35.04     ,
        37.02     ,  41.72     ,  39.57     ,  39.42     , 101.09     ,
        50.47     ,  74.43     ,  33.25     ,  43.67     ,  22.93     ,
        29.97     ,  24.79     ,  25.52     ,  33.48     ,  45.8      ,
        36.3      ,  32.12     ,  18.77     ,  31.16     ,  23.69     ,
        21.27     ,  29.84     ,  27.81     ,  77.1653125,  77.1653125,
        31.76     ,  32.55     ,  77.1653125,  77.1653125,  28.71     ,
        22.56     ,  23.82     ,  30.45     ,  26.79     ,  23.79     ,
        23.19     ,  21.9      ,  19.15     ,  23.98     ,  25.6      ,
        33.35     ,  24.84     ,  29.78     ,  31.25     ,  22.83     ,
        31.02     , 131.88     ,  20.67     ,  22.92     ,  21.17     ,
        21.72     ,  24.1      ,  21.21     ,  17.65     ,  22.9      ,
        24.28     ,  32.56     ,  36.48     ,  62.12     ,  37.63     ])

In [222]:
x = np.array([[99,29.4343, 11.0,47,0.0,4.3232,5.923,13.0]])

In [223]:
regressor_loaded.predict(x)

array([129.27])

In [123]:
from sklearn.ensemble import RandomForestRegressor

In [124]:
random_forest_reg = RandomForestRegressor(random_state=0)
random_forest_reg.fit(x,y.values)

RandomForestRegressor(random_state=0)

In [125]:
y_pred = random_forest_reg.predict(x)

In [126]:
error = np.sqrt(mean_squared_error(y,y_pred))

In [127]:
error

12.751625852984448

In [128]:
from sklearn.model_selection import GridSearchCV

In [129]:
max_depth = [None, 2,4,6,8,10,12]
parameters = {"max_depth":max_depth}

regressor = DecisionTreeRegressor(random_state=0)
gs = GridSearchCV(regressor, parameters, scoring='neg_mean_squared_error')
gs.fit(x,y.values)

GridSearchCV(estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

In [130]:
regressor = gs.best_estimator_

In [131]:
regressor.fit(x,y.values)

DecisionTreeRegressor(max_depth=2, random_state=0)

In [132]:
y_pred = regressor.predict(x)

In [133]:
error = np.sqrt(mean_squared_error(y,y_pred))
error

31.326441761739005

In [134]:
regressor

DecisionTreeRegressor(max_depth=2, random_state=0)

In [135]:
df.columns

Index(['T', 'TM', 'Tm', 'H', 'PP', 'VV', 'V', 'VM', 'PM2.5'], dtype='object')

In [136]:
import pickle

In [137]:
from sklearn.preprocessing import LabelEncoder

In [138]:
T = LabelEncoder()

In [139]:
df['T'] = T.fit_transform(df['T'])

In [140]:
df.head()

    T    TM    Tm   H   PP   VV    V    VM   PM2.5
0  25  29.4  11.0  47  0.0  4.3  5.9  13.0   94.52
1  61  32.0  14.0  41  0.0  4.3  4.4  11.1  135.99
2  48  31.0  14.0  57  0.0  3.9  3.3  14.8  178.33
3  49  30.0  15.0  57  0.0  4.0  5.6  13.0  139.70
4  50  32.0  15.0  44  0.0  4.3  4.3  11.1   88.70

In [141]:
df['T'].unique()

array([ 25,  61,  48,  49,  50,  39,  55,  69,  76,  73,  78,  80,  53,
        31,  28,  42,  91,  63,  72,  81,  95, 116, 120, 146, 155, 157,
       117, 126, 131, 130, 149,  92, 113, 121,   0, 142, 161, 172, 170,
       171, 162, 186, 147, 180, 178, 166, 176, 174, 167, 164, 154, 188,
       152, 141, 139, 145, 119, 132, 136, 127, 128, 140, 151, 133, 122,
       114, 102,  77,  68, 104, 111, 106, 101, 112, 125, 124, 129, 134,
       137,  88, 105, 135, 123,  70,  97, 100,  89,  74, 144, 110, 115,
       108,  94,  90,  87,  93,  86,  99, 107, 109,  98,  96,  71,  85,
        83,  62,  57,  67,  59,  46,  40,  56,  60,  44,  33,  36,  38,
        47,  43,  32,  37,  34,  30,  27,  22,  51,  23,  29,  58,  65,
        52,  41,  54, 143, 138, 150, 159, 165, 158, 173, 183, 182, 177,
       185, 179, 189, 190, 187, 175, 148,  84, 118, 103,  64,  18,  15,
        13,  11,  17,  21,   9,   5,  12,  19,  26,   4,  14,   3,  20,
         2,  79, 163, 156, 153, 160, 169, 181, 184,  75,  82,  35,   7,
         8,  16,   1,  10,   6,  24,  66,  45, 168], dtype=int64)

In [142]:
df.sample()

       T    TM    Tm   H   PP   VV     V    VM  PM2.5
180  106  32.5  24.6  73  0.0  4.8  11.3  18.3  35.69

In [143]:
TM = LabelEncoder()
df['TM'] = TM.fit_transform(df['TM'])

In [144]:
Tm = LabelEncoder()
df['Tm'] = Tm.fit_transform(df['Tm'])

In [145]:
H = LabelEncoder()
df['H'] = H.fit_transform(df['H'])

In [146]:
PP = LabelEncoder()
df['PP'] = PP.fit_transform(df['PP'])

In [147]:
VV = LabelEncoder()
df['VV'] = VV.fit_transform(df['VV'])

In [148]:
V = LabelEncoder()
df['V'] = V.fit_transform(df['V'])

In [149]:
VM = LabelEncoder()
df['VM'] = VM.fit_transform(df['VM'])

In [150]:
data = {"model":dec_tree_reg, "T":T, 'TM':TM, 'Tm':Tm, 'H':H, 'PP':PP, 'VV':VV, 'V':V, 'VM':VM}
with open ('ahmedabad.pkl', 'wb') as file:
    pickle.dump(data, file)

In [151]:
with open('ahmedabad.pkl', 'rb') as file:
    data = pickle.load(file)

In [152]:
df.sample()

      T  TM  Tm   H  PP  VV   V  VM  PM2.5
663  45  32  27  23   0  14  14   6  51.32

In [153]:
regressor_loaded = data['model']
T = data['T']
TM = data['TM']
Tm = data['Tm']
H = data['H']
PP = data['PP']
VV = data['VV']
V = data['V']
VM = data['VM']

In [154]:
y_pred = regressor_loaded.predict(x)

In [155]:
y_pred

array([ 94.52     , 135.99     , 178.33     , 139.7      ,  88.7      ,
        74.28     , 113.93     , 103.36     , 177.33     , 113.25     ,
       107.99     , 140.29     , 239.96     ,  52.99     ,  61.12     ,
        60.78     ,  91.83     , 105.45     ,  71.56     , 119.8      ,
        97.34     ,  83.92     ,  49.51     , 105.06     ,  94.1      ,
       111.89     , 165.07     , 166.85     , 147.38     , 133.3      ,
        96.04     ,  77.69     ,  53.07     , 138.63     , 144.36     ,
        85.03     , 111.86     ,  58.37     ,  95.37     ,  77.1653125,
        77.1653125,  77.1653125,  77.1653125,  77.1653125,  80.9      ,
       103.29     , 107.5      ,  77.1653125,  96.65     , 126.77     ,
       106.15     ,  51.03     ,  38.73     ,  61.12     , 100.92     ,
        97.48     , 129.27     ,  53.24     ,  42.       ,  50.1      ,
        70.96     ,  53.66     ,  45.49     ,  57.59     ,  77.22     ,
        45.29     , 103.78     ,  80.69     ,  44.75     ,  38.11     ,
        45.49     ,  38.06     ,  45.41     ,  32.56     ,  29.28     ,
        20.46     ,  57.75     ,  66.39     ,  62.61     ,   4.66     ,
        48.72     ,  49.7      ,  42.68     ,  38.45     ,  46.69     ,
       111.77     , 151.4      ,  51.35     ,  33.56     ,  31.3      ,
        48.12     ,  29.79     ,  59.95     ,  19.2      ,  40.95     ,
        40.29     ,  41.16     ,  36.12     ,  48.12     ,  37.09     ,
        33.4      ,  44.56     ,  65.68     ,  33.34     ,  38.35     ,
        38.5      ,  39.61     ,  36.9      ,  36.36     ,  32.64     ,
        43.2      ,  63.2      ,  64.73     ,  65.28     ,  29.52     ,
        15.53     ,  57.51     ,  43.01     ,  42.06     ,  44.94     ,
        24.46     ,  27.08     ,  43.88     ,  28.35     ,   3.59     ,
        76.41     , 102.49     , 127.94     ,  92.12     ,  94.02     ,
       150.27     , 137.87     ,  90.71     , 108.68     , 170.52     ,
       203.4      ,  92.71     , 147.35     , 206.89     , 114.84     ,
        46.5      , 122.54     , 147.18     , 192.35     , 127.64     ,
        33.02     ,  29.42     ,  20.87     ,  35.08     ,  35.87     ,
        46.3      ,  39.15     ,  34.89     ,  38.13     ,  36.47     ,
        41.39     ,  31.71     ,  33.48     ,  43.71     ,  46.52     ,
        36.54     ,  40.18     ,  33.5      ,  29.36     ,  44.59     ,
        43.9      ,  93.34     ,  38.06     ,  60.18     ,  85.1      ,
        55.55     ,  32.78     ,  53.5      ,  48.24     ,  33.76     ,
        35.95     ,  58.07     ,  44.59     ,  30.81     ,  47.67     ,
        35.69     ,  52.15     ,  35.99     ,  37.93     ,  36.51     ,
        55.71     ,  57.01     ,  42.22     ,  34.16     ,  30.07     ,
        25.54     ,  27.22     ,  41.81     ,  75.03     ,  85.36     ,
       124.97     ,  86.63     ,  48.23     , 138.94     , 155.68     ,
        83.57     ,  75.41     , 106.86     ,  72.52     , 109.22     ,
       122.63     , 271.85     , 230.76     , 203.3      , 152.03     ,
       109.16     , 126.57     ,  79.49     , 112.25     , 133.07     ,
        77.12     ,  96.65     ,  72.67     ,  94.32     ,  89.       ,
       119.17     , 207.19     , 148.83     ,  99.77     , 119.99     ,
       111.92     , 102.26     , 108.19     ,  93.87     ,  85.51     ,
        80.89     ,  58.62     ,  74.08     ,  62.76     ,  86.09     ,
        67.51     ,  70.08     ,  86.9      ,  62.24     ,  62.07     ,
        72.04     ,  75.14     ,  69.27     ,  71.54     ,  77.1653125,
        84.46     ,  76.51     ,  63.88     ,  77.87     ,  77.72     ,
        66.89     ,  82.53     , 108.01     ,  92.94     ,  91.13     ,
        88.69     , 108.92     , 128.56     , 103.63     , 102.16     ,
       115.79     , 189.12     ,  88.37     ,  96.64     , 109.34     ,
        70.25     , 103.17     ,  64.61     ,  65.35     ,  52.18     ,
       242.66     , 114.78     ,  92.92     ,  38.82     ,  49.18     ,
        56.42     ,  54.45     ,  53.5      ,  41.64     ,  56.51     ,
        88.85     , 111.68     ,  98.53     ,  84.16     ,  71.82     ,
        98.49     , 160.68     , 102.05     , 109.8      , 124.44     ,
       180.27     , 121.       ,  80.56     , 103.75     ,  75.68     ,
        90.13     , 160.43     ,  94.55     , 104.21     ,  77.1653125,
        84.47     ,  73.54     ,  77.1653125,  77.1653125,  78.18     ,
        56.35     ,  59.66     ,  77.1653125,  77.1653125,  77.1653125,
        77.1653125,  63.06     ,  46.17     ,  61.24     ,  41.04     ,
        49.71     ,  44.75     ,  50.16     ,  49.07     ,  46.06     ,
        71.01     ,  59.98     ,  50.7      ,  43.37     ,  60.05     ,
        56.93     ,  16.63     ,  78.16     ,  83.27     ,  63.79     ,
        53.59     ,  55.77     ,  63.58     ,  69.99     ,  78.7      ,
        59.96     ,  40.89     ,  41.59     ,  39.02     ,  51.63     ,
        38.12     ,  27.79     ,  48.12     ,  36.8      ,  41.37     ,
        71.94     ,  47.95     ,  55.91     ,  36.42     ,  40.97     ,
        33.38     ,  44.87     ,  33.16     ,  45.25     ,  51.7      ,
        43.18     ,  35.8      ,  51.78     ,  63.4      ,  58.21     ,
        47.83     ,  41.21     ,  37.33     ,  28.74     ,  32.05     ,
        44.02     ,  48.73     ,  33.95     ,  33.7      ,  48.21     ,
        33.2      ,  34.52     ,  44.57     ,  38.22     ,  34.44     ,
        28.8      ,  19.66     ,  22.3      ,  22.33     ,  21.06     ,
        20.82     ,  18.18     ,  23.65     ,  25.32     ,  25.87     ,
        18.87     ,  22.11     ,  24.07     ,  33.95     ,  31.13     ,
        58.28     ,  78.64     , 122.92     , 160.05     ,  96.65     ,
       110.05     , 109.84     , 105.87     , 101.86     ,  96.15     ,
       121.11     ,  82.49     ,  72.93     ,  82.52     ,  72.11     ,
        78.48     , 103.22     , 162.18     , 205.21     , 165.37     ,
       133.13     , 143.52     ,  83.28     ,  77.1653125,  77.1653125,
        77.1653125,  77.1653125,  77.1653125,  86.43     ,  70.51     ,
        78.48     ,  92.74     ,  96.58     ,  91.37     ,  88.02     ,
        94.95     ,  75.42     ,  73.07     ,  70.04     ,  56.71     ,
        59.4      , 125.16     , 106.45     ,  92.45     ,  79.15     ,
        94.8      ,  80.14     ,  80.54     , 110.71     , 147.57     ,
       131.5      ,  74.62     ,  89.72     ,  84.03     , 116.42     ,
        75.49     ,  66.97     ,  73.58     ,  86.32     , 149.26     ,
        52.92     ,  47.26     ,  52.79     ,  83.1      ,  76.87     ,
        47.01     ,  54.77     ,  94.1      , 105.03     ,  46.5      ,
        82.79     ,  62.6      ,  72.53     ,  46.48     ,  62.32     ,
        37.26     ,  50.97     ,  64.44     ,  51.5      ,  42.11     ,
        46.35     ,  61.32     ,  55.7      ,  54.11     ,  52.68     ,
        84.14     ,  52.24     ,  62.44     ,  88.33     ,  78.11     ,
        62.04     ,  64.71     ,  67.44     ,  69.51     ,  74.35     ,
        96.96     , 122.78     , 109.21     ,  77.1653125,  78.55     ,
        73.58     ,  64.02     ,  77.1653125,  77.1653125, 182.46     ,
        95.69     ,  93.12     ,  92.59     ,  84.47     ,  76.98     ,
        77.1653125,  77.1653125,  77.1653125, 113.47     , 101.68     ,
        86.07     ,  58.71     ,  72.51     ,  43.83     ,  46.04     ,
        37.55     ,  77.1653125,  77.1653125,  77.1653125,  27.93     ,
        41.39     ,  46.79     ,  50.27     ,  42.02     ,  48.74     ,
        48.1      ,  41.38     ,  46.46     ,  30.07     ,  48.74     ,
        35.3      ,  25.56     ,  26.75     ,  32.71     ,  69.38     ,
        42.08     ,  35.67     ,  49.23     ,  70.03     ,  60.03     ,
        43.22     ,  44.75     ,  44.27     ,  34.72     ,  37.99     ,
        41.69     ,  38.49     ,  41.7      ,  42.43     ,  44.65     ,
        51.63     ,  48.67     ,  48.26     ,  46.8      ,  39.43     ,
        28.8      ,  47.31     ,  56.72     ,  45.43     ,  60.09     ,
        57.61     ,  44.1      ,  41.77     ,  47.52     ,  50.55     ,
        39.88     ,  46.58     ,  36.44     ,  30.82     ,  45.77     ,
        58.51     ,  37.05     ,  31.28     ,  25.64     ,  40.18     ,
        35.05     ,  33.15     ,  38.7      ,  64.45     ,  59.96     ,
        66.21     ,  73.61     ,  27.17     ,  39.27     ,  61.46     ,
        39.34     ,  28.2      ,  33.66     ,  51.11     ,  57.08     ,
        99.81     ,  73.52     , 108.07     , 194.36     ,  98.5      ,
        96.74     ,  87.87     ,  89.05     ,  81.62     ,  82.74     ,
        62.7      ,  57.54     ,  54.57     ,  63.17     ,  42.27     ,
        33.68     ,  56.86     ,  64.96     ,  48.99     ,  88.       ,
        49.19     ,  43.56     ,  52.04     ,  46.54     ,  55.43     ,
        73.87     ,  64.06     ,  53.91     ,  43.06     ,  46.74     ,
        41.61     ,  93.24     ,  92.26     ,  78.95     ,  52.59     ,
        63.33     ,  48.58     ,  89.97     , 104.25     ,  64.25     ,
        53.       ,  52.77     ,  39.89     ,  74.18     ,  79.57     ,
        72.59     ,  69.54     ,  70.06     ,  61.4      ,  38.89     ,
        89.34     ,  39.83     ,  53.27     ,  36.05     ,  36.21     ,
        51.15     ,  61.05     ,  62.03     ,  33.93     ,  57.28     ,
        88.79     ,  52.31     ,  68.19     ,  66.87     ,  95.25     ,
        69.85     ,  88.83     ,  50.55     ,  73.04     , 114.79     ,
        65.74     ,  60.61     ,  73.18     , 137.81     ,  94.27     ,
        53.06     ,  56.2      ,  77.58     ,  51.32     ,  35.04     ,
        37.02     ,  41.72     ,  39.57     ,  39.42     , 101.09     ,
        50.47     ,  74.43     ,  33.25     ,  43.67     ,  22.93     ,
        29.97     ,  24.79     ,  25.52     ,  33.48     ,  45.8      ,
        36.3      ,  32.12     ,  18.77     ,  31.16     ,  23.69     ,
        21.27     ,  29.84     ,  27.81     ,  77.1653125,  77.1653125,
        31.76     ,  32.55     ,  77.1653125,  77.1653125,  28.71     ,
        22.56     ,  23.82     ,  30.45     ,  26.79     ,  23.79     ,
        23.19     ,  21.9      ,  19.15     ,  23.98     ,  25.6      ,
        33.35     ,  24.84     ,  29.78     ,  31.25     ,  22.83     ,
        31.02     , 131.88     ,  20.67     ,  22.92     ,  21.17     ,
        21.72     ,  24.1      ,  21.21     ,  17.65     ,  22.9      ,
        24.28     ,  32.56     ,  36.48     ,  62.12     ,  37.63     ])

In [156]:
error = np.sqrt(mean_squared_error(y,y_pred))

In [157]:
error

6.978797939856464

In [158]:
df.head()

    T  TM  Tm   H  PP  VV   V  VM   PM2.5
0  25  29  14  32   0  15  28   7   94.52
1  61  43  36  26   0  15  20   6  135.99
2  48  39  36  42   0  12  14   9  178.33
3  49  32  44  42   0  13  26   7  139.70
4  50  43  44  29   0  15  19   6   88.70

In [159]:
df.tail()

       T  TM   Tm   H  PP  VV   V  VM  PM2.5
720  131  67  152  54   0  16  70  12  24.28
721  137  75  153  56   6  16  56  10  32.56
722  150  75  162  48   0  12  50  11  36.48
723  149  75  164  49   0  15  62  13  62.12
724  145  71  158  53   0  14  69  13  37.63

In [160]:
df.shape

(725, 9)

In [194]:
x = np.array([[19.232,29.4343, 11.0,47,0.0,4.3232,5.923,13.0]])

In [195]:
x.dtype

dtype('float64')

In [196]:
x[:, 0] = T.transform(x[:,0])
x[:, 1] = TM.transform(x[:,1])
x[:, 2] = Tm.transform(x[:,2])
x[:, 3] = H.transform(x[:,3])
x[:, 4] = PP.transform(x[:,4])
x[:, 5] = VV.transform(x[:,5])
x[:, 6] = V.transform(x[:,6])
x[:, 7] = VM.transform(x[:,7])
x
x=x.astype(float)

ValueError: y contains previously unseen labels: [19.232]

In [193]:
x

array([[25., 29., 14., 32.,  0., 15., 28.,  7.]])